.pagination-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding: 0;
    font-size: 20px;
}

.pagination-number {
    padding: 5px 20px;
    margin: 8px 20px;
    background-color: #8fff8f;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.pagination-number:hover {
    background-color: lime;
}

.pagination-number:focus {
    outline: none;
}

.pagination-number.active {
    background-color: #4caf50;
    color: white;
}

.country-list {
    margin-top: 20px;
    font-size: 22px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.country-item {
    background-color: #8fff8f;
    padding: 12px;
    margin: 12px;
    border-radius: 4px;
    width: 250px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    word-wrap: break-word;
}

.country-item:hover {
    background-color: lime;
}

.country-properties {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.property-label {
    color: white;
    font-weight: bold;
    display: inline-block;
    width: 140px;
    font-size: 20px;
}

.property-value {
    color: white;
    font-size: 20px;
}

h1,
h2 {
    padding: 10px 14px;
    margin: 8px 20px;
}
